In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SQLContext
import pyspark.sql.functions as F

In [3]:
spark = SparkSession \
                .builder \
                .master("local[*]")\
                .appName("Exercicio Intro") \
                .getOrCreate()

23/05/10 00:41:52 WARN Utils: Your hostname, davyc-System-Product-Name resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface enp6s0)
23/05/10 00:41:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/10 00:41:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Questão 1

In [4]:
df_nomes = spark.read.csv("../nomes_aleatorios.txt", header=False, sep='\n')
df_nomes.show(5)

+----------------+
|             _c0|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

Questão 2

In [5]:
df_nomes = df_nomes.withColumnRenamed('_c0', 'Nome')
df_nomes.show(10)

+-----------------+
|             Nome|
+-----------------+
|   Frances Bennet|
|    Jamie Russell|
|   Edward Kistler|
|    Sheila Maurer|
| Donald Golightly|
|       David Gray|
|      Joy Bennett|
|      Paul Kriese|
|Berniece Ornellas|
|    Brian Farrell|
+-----------------+
only showing top 10 rows

Questões 3, 4 e 5

In [6]:
df_nomes = df_nomes.withColumn(
  "Escolaridade",
  F.array(
    F.lit("Fundamental"),
    F.lit("Médio"),
    F.lit("Superior"),
  ).getItem(
    (F.rand()*3).cast("int")
  )
).withColumn(
    "Pais",
    F.array(
    F.lit("Argentina"),
    F.lit("Bolivia"),
    F.lit("Brasil"),
    F.lit("Colombia"),
    F.lit("Chile"),
    F.lit("Venezuela"),
    F.lit("Guiana"),
    F.lit("Paraguai"),
    F.lit("Peru"),
    F.lit("Uruguai"),
    F.lit("Suriname"),
    F.lit("Equador"),
    F.lit("Guiana Francesa"),
  ).getItem(
    (F.rand()*13).cast("int")
  )
).withColumn(
    'AnoNascimento',
    F.round(F.rand()*(2010-1945)+1945)

)

df_nomes.show(100)

/opt/spark/python/pyspark/sql/column.py:458: FutureWarning: A column as 'key' in getItem is deprecated as of Spark 3.0, and will not be supported in the future release. Use `column[key]` or `column.key` syntax instead.
  warnings.warn(

+--------------------+------------+---------------+-------------+
|                Nome|Escolaridade|           Pais|AnoNascimento|
+--------------------+------------+---------------+-------------+
|      Frances Bennet|    Superior|       Paraguai|       1968.0|
|       Jamie Russell| Fundamental|       Colombia|       2000.0|
|      Edward Kistler| Fundamental|        Equador|       1988.0|
|       Sheila Maurer| Fundamental|      Argentina|       1977.0|
|    Donald Golightly|    Superior|       Paraguai|       1962.0|
|          David Gray| Fundamental|       Colombia|       1995.0|
|         Joy Bennett| Fundamental|         Brasil|       1976.0|
|         Paul Kriese| Fundamental|         Guiana|       2006.0|
|   Berniece Ornellas|       Médio|        Equador|       1984.0|
|       Brian Farrell| Fundamental|        Equador|       1970.0|
|      Kara Mcelwaine|       Médio|      Venezuela|       1991.0|
|       Tracy Herring|       Médio|       Paraguai|       1977.0|
|     Howard Lazarine|    Superior|       Suriname|       1964.0|
|        Leroy Strahl| Fundamental|      Argentina|       1996.0|
|        Ernest Hulet|    Superior|       Colombia|       1978.0|
|        David Medina|    Superior|Guiana Francesa|       2010.0|
|      Lorenzo Woodis|       Médio|       Paraguai|       1963.0|
|         Page Marthe|       Médio|      Argentina|       1963.0|
|      Herbert Morris|       Médio|           Peru|       2000.0|
|         Albert Leef| Fundamental|         Guiana|       1957.0|
|        Charles Hill|       Médio|        Bolivia|       1975.0|
|     Helen Blackwell|    Superior|         Brasil|       1989.0|
|             Lois Ly|    Superior|      Venezuela|       1947.0|
|        Rebecca Snow|    Superior|         Guiana|       1954.0|
|         Frank Wiley|    Superior|Guiana Francesa|       1955.0|
|    Wallace Mitchell|       Médio|      Venezuela|       1995.0|
|      Amanda Gravitt| Fundamental|        Uruguai|       2003.0|
|      Gabriel Colyer| Fundamental|       Suriname|       1954.0|
|            Mary Lee| Fundamental|      Venezuela|       1976.0|
|          Daryl Page|       Médio|        Bolivia|       1949.0|
|        Roxie Bernal|       Médio|           Peru|       1996.0|
|      Wilfredo Grant| Fundamental|         Guiana|       1955.0|
|      Katrina Graham|    Superior|           Peru|       1986.0|
|     Jerry Chynoweth| Fundamental|      Venezuela|       2000.0|
|         Jessie Jean|       Médio|        Bolivia|       1961.0|
|     Kenneth Rayburn| Fundamental|       Colombia|       2002.0|
|          Anita Ross|       Médio|         Brasil|       1987.0|
|      Mary Dillahunt|    Superior|         Brasil|       2003.0|
|          John Meyer|       Médio|Guiana Francesa|       1952.0|
|         Sandra Todd|       Médio|      Venezuela|       1961.0|
|       Ricky Gilbert| Fundamental|       Paraguai|       1972.0|
|       Michael Agnew|       Médio|      Argentina|       1999.0|
|      Rosie Lovelady|    Superior|           Peru|       1963.0|
|         Donald Vogt|    Superior|Guiana Francesa|       2006.0|
|    Flossie Anderson|    Superior|       Paraguai|       1997.0|
|         Lisa Baxley| Fundamental|       Paraguai|       1958.0|
|       Milton Dillon| Fundamental|           Peru|       1994.0|
|          Ned Tester|    Superior|       Colombia|       1968.0|
|        James Barton|    Superior|      Venezuela|       1947.0|
|       Lynne Dustman|       Médio|       Suriname|       2009.0|
|      Ashley Trosper|       Médio|      Argentina|       1977.0|
|       George Miller|    Superior|        Equador|       2003.0|
|         Milton Rowe| Fundamental|Guiana Francesa|       1959.0|
|Christopher Williams|       Médio|         Guiana|       1982.0|
|        Juliet Liles|       Médio|        Uruguai|       1988.0|
|    Cristina Sheston| Fundamental|       Suriname|       1961.0|
|           Ana Baker| Fundamental|           Peru|       1978.0|
|          April Ward| Fundamental|      Argentina|       1958.0|
|     Charles Randall|       Médio|      Venezuela|       1973.0|
|         Hugo Dayton|    Superior|        Bolivia|       1964.0|
|       Evelyn Shaver|    Superior|       Paraguai|       1956.0|
|      Kenneth Winter| Fundamental|         Guiana|       1960.0|
|   Marguerite Rankin| Fundamental|      Venezuela|       1968.0|
|       Jenna Johnson| Fundamental|       Suriname|       1985.0|
|     Katherine Moore| Fundamental|Guiana Francesa|       1956.0|
|         Rita Walter| Fundamental|        Uruguai|       1962.0|
|        Ida Randazzo|    Superior|        Uruguai|       1955.0|
|    Richelle Vasquez|       Médio|         Brasil|       2000.0|
|       Joann Ballard| Fundamental|       Paraguai|       1974.0|
|        Jerry Remick|       Médio|      Venezuela|       1963.0|
|       Sherry Wilcox|       Médio|        Bolivia|       1978.0|
|    Maurice Blizzard|    Superior|      Venezuela|       2004.0|
|     Suzanne Bullard|       Médio|        Equador|       1974.0|
|        Curtis Sutch|       Médio|        Uruguai|       2007.0|
|     Pamela Banuelos|    Superior|       Suriname|       1994.0|
|         Shelia Ceja|    Superior|          Chile|       1985.0|
|       Joyce Bennett|    Superior|         Guiana|       1952.0|
|   George Fiorentino| Fundamental|          Chile|       1992.0|
|         Andrew Orem|       Médio|           Peru|       1975.0|
|        Jason Martin| Fundamental|         Guiana|       1969.0|
|      David Rathbone|       Médio|         Guiana|       1978.0|
|        Douglas Boyd|       Médio|        Equador|       1962.0|
|     Audrey Mcmillan| Fundamental|        Bolivia|       1996.0|
|      Robert Andrews| Fundamental|      Venezuela|       1994.0|
|      Lonnie Sanchez| Fundamental|        Equador|       1964.0|
|         Thomas Kemp| Fundamental|        Bolivia|       1969.0|
|     Kenneth Rayburn|       Médio|       Colombia|       1989.0|
|      Kristyn Phelps|    Superior|           Peru|       1996.0|
|         Linda Batts|       Médio|       Paraguai|       2003.0|
|      Bernard Holmes| Fundamental|      Argentina|       2008.0|
|      Roger Guenther| Fundamental|        Equador|       1958.0|
|     Elizabeth Crowe|    Superior|       Suriname|       1996.0|
|      Michael Farmer| Fundamental|         Brasil|       1956.0|
|        Ricky Scheel|       Médio|        Uruguai|       1986.0|
|      Rita Robertson| Fundamental|        Uruguai|       1998.0|
|         John Snipes|       Médio|        Bolivia|       1952.0|
|   Anthony Hernandez|       Médio|       Suriname|       1974.0|
|          Lori Allee|       Médio|        Equador|       1952.0|
|       Theresa Avila|       Médio|           Peru|       1990.0|
|        Jose Gaskins|       Médio|       Suriname|       1958.0|
+--------------------+------------+---------------+-------------+
only showing top 100 rows

Questão 6

In [7]:
df_select = df_nomes.select("Nome", "AnoNascimento").filter(df_nomes['AnoNascimento'] > 2000)
df_select.show(10)

+----------------+-------------+
|            Nome|AnoNascimento|
+----------------+-------------+
|     Paul Kriese|       2006.0|
|    David Medina|       2010.0|
|  Amanda Gravitt|       2003.0|
| Kenneth Rayburn|       2002.0|
|  Mary Dillahunt|       2003.0|
|     Donald Vogt|       2006.0|
|   Lynne Dustman|       2009.0|
|   George Miller|       2003.0|
|Maurice Blizzard|       2004.0|
|    Curtis Sutch|       2007.0|
+----------------+-------------+
only showing top 10 rows

Questão 7

In [8]:
df_nomes.createOrReplaceTempView("pessoas")
spark.sql("select Nome, AnoNascimento from pessoas where AnoNascimento > 2000").show(10)

+----------------+-------------+
|            Nome|AnoNascimento|
+----------------+-------------+
|     Paul Kriese|       2006.0|
|    David Medina|       2010.0|
|  Amanda Gravitt|       2003.0|
| Kenneth Rayburn|       2002.0|
|  Mary Dillahunt|       2003.0|
|     Donald Vogt|       2006.0|
|   Lynne Dustman|       2009.0|
|   George Miller|       2003.0|
|Maurice Blizzard|       2004.0|
|    Curtis Sutch|       2007.0|
+----------------+-------------+
only showing top 10 rows

Questão 8

In [9]:
df_nomes.filter((df_nomes['AnoNascimento'] >= 1980) & (df_nomes['AnoNascimento'] <= 1994)).count()

2305770

Questão 9

In [33]:
spark.sql("select count(Nome) as Millennials from pessoas where anoNascimento >= 1980 and anoNascimento <=1994").show()

+-----------+
|Millennials|
+-----------+
|    2305770|
+-----------+

Questão 10

In [32]:
geracoes = spark.sql(
    """
    SELECT
        sum(case when anoNascimento >= 1944 and anoNascimento <=1964 then 1 else 0 end ) as Geracao,        
        Pais

    from pessoas
    group by (Pais)
    order by Pais, Geracao desc
    """
)

geracoes.show()

+-------+---------------+
|Geracao|           Pais|
+-------+---------------+
| 231053|      Argentina|
| 231384|        Bolivia|
| 230888|         Brasil|
| 231130|          Chile|
| 231140|       Colombia|
| 231862|        Equador|
| 231056|         Guiana|
| 230287|Guiana Francesa|
| 230457|       Paraguai|
| 230746|           Peru|
| 231355|       Suriname|
| 231215|        Uruguai|
| 230744|      Venezuela|
+-------+---------------+